<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_viewResolver:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_viewResolver_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC_viewResolver/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_viewResolver" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="jstl" />
          <element id="library" level="project" name="taglibs-standard-spec-1.2.5" />
          <element id="library" level="project" name="taglibs-standard-impl-1.2.5" />
        </element>
      </element>
    </root>
  </artifact>
</component>