<component name="ArtifactManager">
  <artifact type="exploded-ear" name="SpringAOP_02:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringAOP_02_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringAOP_02/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>